/* estilos pop up */
/* .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.popup.active {
    display: block;
}

.popup button {
    margin-top: 10px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.overlay.active {
    display: block;
} */

/* estilos item de reserva */
/* =========================
   IMPORTAR FONTE
   ========================= */
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

   /* ESTILOS GLOBALES */
   * {
     box-sizing: border-box;
   }
   
   body {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif; /* Fonte amigável */
     background-color: #ffffff;
     color: #062932;
   }
   
   /* =========================
      HEADER
      ========================= */
   header {
     position: relative;
     background-color: #ffb077; 
     color: #062932;
     padding: 20px 0;
     text-align: center;
   }
  
  .logo_menor {
    background-color: transparent;
    margin-right: 20px;       
    width: 180px;
    height: auto;     
    opacity: 0.8;    /* Transparencia: 1 = opaco, 0 = total transparente */
  }
   
   /* Titulo principal */
   header h1 {
     margin: 0;
     font-size: 2.5rem;
     letter-spacing: 1px;
     font-weight: 700;
   }

   header h3 {
     margin: 5px 0 20px;
     font-size: 1.2rem;
     font-weight: 500;
     color: #062932; 
   }
   
   /* Menu nav */
   
   header nav {
    margin-bottom: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 0; 
  }

  header nav .menu-bar {
    display: inline-block;      /* buttons agrupados */  
    overflow: hidden;           
  }

  header nav .menu-bar a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffb077; 
    color: #062932;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
    margin: 0;          
    border: none;      
    border-radius: 0;   
  }
   /* efecto hover */
   header nav .menu-bar a.button:hover {
     background-color: #ffddc5;;
     transform: scale(1.05);
   }
   
   /* =========================
      MAIN --- texto/contenido principal
      ========================= */
   main {
     max-width: 1500px;
     margin: 20px auto;
     padding: 0 20px;
   }

   main p {
    text-align: center;
  }
   
   /* =========================
      FOOTER
      ========================= */
   footer {
     background-color: #ffddc5;
     color: #062932;
     padding: 20px;
     text-align: center;
     margin-top: 40px;
   }

   /* logo de homepage*/
   .logo {
    width: 200px;            
    display: block;
    margin: 0 auto;
    opacity: 0;              /* inicia invisible */
    transform: translateY(20px); /* deslocamento pequeño */
    animation: fadeIn 1s forwards; /* animacion sencilla */
    animation-delay: 0.7s;   /* delay */
  }
  
  /* Definicion del fadeIn */
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

.aviso-legal {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #ffddc5;
}

.aviso-legal a.button{
    display: inline-block;
    padding: 10px 20px;
    background-color:  #ffddc5; 
    color: #062932;
    text-decoration: underline;
    font-weight: 600;
    /*transition: background-color 0.3s, transform 0.3s;*/ /* activa esto para cambiar el color del fondo al hacer hover */
    margin: 0;          
    border: none;      
    border-radius: 0;   

}
   
.enlaces_footer a.button{
        display: inline-block;
        padding: 10px 20px;
        background-color:  #ffddc5; 
        color: #062932;
        text-decoration: underline;
        font-weight: 600;
        /*transition: background-color 0.3s, transform 0.3s;*/
        margin: 0;          
        border: none;       
        border-radius: 0;   
}

.reserva-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    padding: 20px;
    overflow: hidden;
}

.reserva-box img {
    max-width: 200px;
    border-radius: 8px;
    margin-right: 20px;
}

.reserva-details {
    display: flex;
}

.reserva-info,
.valoracion-info,
.form-valoracion,
.mascota-info,
.cuidador-info {
    flex: 1;
    padding: 10px;
}

.reserva-box h3 {
    color: #333;
}

.reserva-box p {
    margin: 5px 0;
    color: #555;
}

/* estilos item mascota */
.mascota-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mascota-info {
    flex: 1;
}

.mascota-info img {
    max-width: 150px;
    border-radius: 8px;
    margin-right: 20px;
}

.sidebarAd {
    width: 300px; /* Barra lateral con un ancho fijo */
    flex-shrink: 0; /* No permite que la barra lateral se reduzca */
    z-index: 1000; 
}

.contenidoAd {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    align-items: center;
    padding-left: 20px;
    gap: 20px;
    width: 80%;
}
.contenedorAd {
    display: flex; /* Coloca los elementos en fila */
    width: 80%;
}
.contenedorAdGu {
    display: flex;
    align-items: center;       
    width: 100%;
}
.listaAdGu {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
    scroll-behavior: smooth;
    width: 80%;
}
.cuadroAdGu {
    min-width: 250px;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    border-radius: 8px;            
}
.prev, .next {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10; /* Asegurar que esté sobre los demás elementos */
}

.estadisticas {
    text-align: center;
}

.submenu-list {
    display: none; /* Ocultar por defecto */
}

.titulosAd {  
    width: 100%;
    display: block;
}


/* Clase para el título de cada página */
.titulo-pagina {
    text-align: center;
}

/* Clase para el bloque principal de contenido de cada página */
.contenedor-general {
    margin-left: 200px;
    margin-right: 200px;
}

/* Clase para la ventana scroll de los mensajes */
.scroller-mensajes {
    position: relative;
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    padding: 15px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* Atributos comunes para ambas clases de mensajes */
.mensaje-propio,
.mensaje-otro-usuario {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Atributos específicos para la clase de mensajes enviados 
por el propio usuario */
.mensaje-propio {
    align-self: flex-end;
    background-color: lightblue;
}

/* Atributos específicos para la clase de mensajes enviados 
por el otro usuario */
.mensaje-otro-usuario {
    align-self: flex-start;
    background-color: lightgrey;
}

/* Clase para el formulario de envío de un mensaje */
.formulario-envio-mensaje {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}